<div class='uit-body'>
    <div class='uit-container'>
        <div class='uit-content'>
            <p class='uit-poem'>
                <span class='uit-poem__indent uit-poem__indent--1'>Willie McCoy is sleeping clouds</span>
                <span class='uit-poem__indent uit-poem__indent--2'>Sleep<span class='uit-poem__spacer'></span>in the wind</span>
                <span class='uit-poem__indent uit-poem__indent--0'>As they are shoved through the blue precincts of Heaven</span>
                <span class='uit-poem__indent uit-poem__indent--3'>By the wind</span>
                <span class='uit-poem__indent uit-poem__indent--0'>Willie McCoy is sleeping in the wind</span>
            </p>
            <p class='uit-poem'>
                <span class='uit-poem__indent uit-poem__indent--1'>Willie McCoy is sleeping<span class='uit-poem__spacer'></span>palms</span>
                <span class='uit-poem__indent uit-poem__indent--2'>Sleep in the wind palms</span>
                <span class='uit-poem__indent uit-poem__indent--0'>Are stripped and broken by the wind<span class='uit-poem__spacer'></span>and can-</span>
                <span class='uit-poem__indent uit-poem__indent--3'>not shout</span>
                <span class='uit-poem__indent uit-poem__indent--0'>At the wind<span class='uit-poem__spacer'></span>Willie McCoy is sleeping in</span>
            </p>
            <p class='uit-poem'>
                <span class='uit-poem__indent uit-poem__indent--1'>The wind<span class='uit-poem__spacer'></span>Willie McCoy is sleeping</span>
                <span class='uit-poem__indent uit-poem__indent--2'>Dunes sleep in the wind</span>
                <span class='uit-poem__indent uit-poem__indent--0'>Like waves in tides the wind<span class='uit-poem__spacer'></span>does what it wants</span>
                <span class='uit-poem__indent uit-poem__indent--3'>To them</span>
                <span class='uit-poem__indent uit-poem__indent--0'>A black man sleeping<span class='uit-poem__spacer'></span>is a desert thing</span>
            </p>
            <p class='uit-poem'>
                <span class='uit-poem__indent uit-poem__indent--0'>Willie McCoy is sleeping in the wind</span>
            </p>
            <p class='uit-bio'>
                <strong>Shane McCrae</strong> is an American award-winning poet who teaches at Columbia. His latest volume, The Gilded Auction Block, is out now
            </p>

            <p class='uit-header__dateline'>Published on
                <time itemprop='datePublished' datetime='2019-06-14T13:00:00-0500'>
                Fri 14 Jun 2019 <span class='content__dateline-time'>13.00&nbsp;EST</span>
                </time>
            </p>

            {{> partials/share }}

        </div>
    </div>
</div>
