<div class='uit-header'>
    <div class='uit-container'>
        <div class='uit-content'>
            <p class='uit-header__standfirst' itemprop='description'>It took 55 bullets and 3.5 seconds for police to kill Willie McCoy, which a report called 'reasonable'. Acclaimed poet Shane McCrae writes about his killing</p>

            <img class='uit-header__image' src='{{ path }}/assets/mccoy.jpg' />

            <h1 class='uit-header__headline' itemprop='headline'>
                Black Men Are Part of Nature but Nature&nbsp;Is&nbsp;White
            </h1>
            <div class='uit-header__quote'>
                <span class='uit-header__line'>55 rounds fired by 6 officers in ~3.5 seconds is reasonable.</span>
                <span class='uit-header__citation'>
                    —David Blake
                </span>
            </div>

            <div class='uit-header__quote'>
                <span class='uit-header__line'>Nature is beyond reason.</span>
                <span class='uit-header__citation'>
                    —Alfonso Cervantes
                </span>
            </div>
        </div>
    </div>
</div>
