<div class='uit-related'>
    <div class='uit-container'>
        <div class='uit-related__header'>
            <h4 class='uit-related__title'>Related stories</h4>
        </div>

        <div class='uit-related__items'>
            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/us-news/2019/jun/12/willie-mccoy-shooting-vallejo-police-55-shots'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/3baadbe741fdf4216832b2e065562bfe9acc60b4/60_0_1800_1080/500.jpg' />
                    <div class='uit-related__headline'>Police fired 55 times at Willie McCoy. An investigation called it 'reasonable'</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/us-news/2019/mar/01/the-life-and-death-of-rapper-willie-mccoy-executed-by-police'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/8fbb641b1b079b66d28011c142b05a1d01286cf6/0_0_3000_1800/500.jpg' />
                    <div class='uit-related__headline'>The life and death of rapper Willie McCoy, 'executed' by police</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/us-news/2019/may/07/vallejo-police-shooting-bike-ronell-foster-willie-mccoy'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/c1cff5d9200c9f6bcdac1c7283ded43993ccdbd9/37_80_1028_617/500.jpg' />
                    <div class='uit-related__headline'>Vallejo officer who shot Willie McCoy killed unarmed man fleeing on bike – video shows</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/us-news/2019/feb/12/california-police-shooting-willie-mccoy'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/86910004981f1cea0d5da45aa6c4695c37c5fbb2/24_182_818_491/500.jpg' />
                    <div class='uit-related__headline'>Six California officers fire shots at rapper who had been asleep in car, killing him</div>
                </a>
            </div>
        </div>
    </div>
</div>
