.uit-header {
    overflow: auto;

    .uit-content {
        padding-bottom: 80px;
    }
}

.uit-header__headline {
    padding: 6px 0;
    font-family: 'Guardian Egyptian Web';
    font-weight: 700;
    font-size: 28px;
    line-height: 1.1;
    text-align: center;

    @include mq(tablet) {
        font-size: 38px;
    }
}

.uit-header__quote {
    font-family: 'Guardian Egyptian Web';
    font-weight: 300;
    font-size: 14px;
    line-height: 1.3;
    padding-left: 2em;
    margin-top: 24px;

    @include mq(mobileLandscape) {
        text-indent: 15%;
    }

    @include mq(tablet) {
        font-size: 18px;
        text-indent: 25%
    }
}

.uit-header__citation {
    display: block;
    text-indent: 30%;
    margin-top: 24px;

    @include mq(tablet) {
        text-indent: 50%;
    }
}

.uit-header__image {
    max-width: 30%;
    border: 10px solid $c-white;
    margin: 0 auto;
    display: block;
}

.uit-header__standfirst {
    padding: 3px 0 0;
    font-family: 'Guardian Egyptian Web';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;

    @include mq(tablet) {
        font-size: 24px;
    }
}

.uit-header .uit-share {
    padding-bottom: 72px;

    @include mq(tablet) {
        padding-bottom: 120px;
    }
}

.uit-header__dateline {
    font-family: 'Guardian Sans Web';
    font-size: 14px;
    color: $c-dark-grey;
    margin: 2px 0 12px 0;
}
